<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/spring/web/WEB-INF/lib/spring-web-4.1.6.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/spring/web/WEB-INF/lib/mybatis-spring-1.2.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/spring/web/WEB-INF/lib/spring-tx-4.1.6.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/spring/web/WEB-INF/lib/spring-aop-4.1.6.RELEASE.jar" />
          <element id="library" level="project" name="spring_lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>